@import "../../styles/mixins/mixins.scss";

.main__container--1 {
  color: #fff;
  padding: 16px;

  .main__container--1-content {
    padding: 16px;
    background-color: #272c46;
    border: 1px solid #1d9bf0b2;
    border-radius: 12px;
    @include display(center, space-around);

    .main__container--1-app {
      display: flex;
      column-gap: 8px;

      .main__container--1-img {
        @include widthHeight(40px, 40px);
        img {
          @include widthHeight(100%, 100%);
          object-fit: contain;
        }
      }

      .main__container--1-text {
        p:nth-child(2) {
          font-size: 12px;
        }
      }
    }

    .main__container--1-back {
      background-color: #141526;
      border-radius: 6px;
      @include widthHeight(24px, 24px);
      text-align: center;
    }
  }

  .main__container--1-started {
    font-size: 14px;
    margin-top: 24px;

    p {
      margin-top: 13px;
    }

    p:nth-child(2),
    p:nth-child(3) {
      color: rgba(187, 187, 187, 1);
    }
  }

  .main__container--1-building {
    font-size: 14px;
    margin-top: 26px;

    .item-1,
    .item-2,
    .item-3 {
      @include display(center, space-between);
      color: rgba(187, 187, 187, 1);
      margin-top: 13px;
    }
  }
}
