.main__container--2 {
  padding: 16px;
  color: #fff;

  .intro {
    margin-bottom: 80px;
    p:nth-child(1) {
      font-size: 36px;
      margin-bottom: 12px;
    }
  }

  .content {
    p:nth-child(1) {
      font-size: 24px;
      margin-bottom: 12px;
    }

    p:nth-child(3) {
      margin: 20px 0;
    }
  }

  .box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 32px;
    margin-top: 32px;

    div {
      border-radius: 24px;
      padding: 32px;
      background-color: rgba(39, 44, 70, 1);
      p:nth-child(1) {
        font-size: 18px;
        margin-bottom: 16px;
      }

      p:nth-child(2) {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .main__container {
    .main__container--2 {
      .box {
        grid-template-columns: 1fr;
        justify-content: center;
      }
    }
  }
}
