nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(39, 44, 70, 0.6);
    padding: 13px 16px;

    .navigation {
        display: flex;

        ul {
            display: flex;
            column-gap: 32px;

            li {
                list-style: none;

                a {
                    color: #EEEEEE;
                    text-decoration: none;
                    font-size: 14px;

                    span {
                        background-color: #1D9BF0E5;
                        color: #141526;
                        padding: 8px 16px;
                        border-radius: 40px;
                    }
                }
            }
        }
    }
}