@import "../../styles/mixins/mixins.scss";

.sidebar {
  @include widthHeight(100%, 100%);
  position: fixed;
  top: 0;
  left: -370px;
  background-color: rgba(39, 44, 70, 1);
  padding-top: 20px;
  transition: 0.3s;
  color: #fff;

  &.open {
    left: 0;
  }

  .close-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }

  h2 {
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding: 8px;
      text-align: center;
      margin: 6px 0;

      .docs {
        color: rgba(29, 155, 240, 1);
        text-decoration: underline;
        font-size: 14px;
        line-height: 14px;
      }

      a {
        color: white;
        text-decoration: none;
        display: block;

        &:hover {
          background-color: #575757;
        }

        span {
          background-color: #1d9bf0e5;
          color: #141526;
          padding: 8px 16px;
          border-radius: 40px;
        }
      }
    }
  }
}
